body {
    background-image: url(https://i.imgur.com/yuG1gCW.png);
    
    }

.menu{
    background-color: #0B0019;
    margin-left:  100px;
    margin-right: 100px;
    padding: 20px;
    border-radius: 30px;
}

h1, h2, h3, h4, p {
    text-align: center;
    color: white;
}

li{
    color: white;
}

.logo{
    margin-left: 100px;
    
}

.titulo{
    font-family: sans-serif;
    color: white; 
    font-size: 70px;
    display: inline-block;
    margin-left: 50px;
    vertical-align: 60px;
}

header img{
 float: left;
 width: 100px;
 height: 100px; 
}